*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer{
    font-family: 'Poppins';
    font-weight: 400;
    background: url(https://besthqwallpapers.com/Uploads/14-12-2019/115900/thumb2-background-with-flowers-black-damask-pattern-vintage-floral-pattern-black-vintage-background-floral-patterns.jpg);
    padding: 40px 0; 
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    font: size 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.70;
}
.footer .social a:hover{
    opacity: 1;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
    color: white;
    font-family: 'Oswald';
}
.footer ul li{
    display: inline-block;
    padding: 0 20px;
}
.footer ul li a:hover{
    opacity: 1
}
.footer .copyright{
    margin-top: 35px;
    text-align: center;
    font-size: 13px;
    color: rgb(151, 148, 148);
}